/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* CSS Variables */
:root {
  --main-text: #ffffff;
  --backround: #131518;
  --background-card: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  --call-to-action: #fc7614;
  --hover: #7c8798;
}

/* general styles */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: var(--backround);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

/* main section */

main,
.modal {
  max-width: 412px;
  padding: 2rem;
  color: var(--main-text);
  background: var(--background-card);
  border-radius: 30px;
  font-family: 'Overpass', sans-serif;
}

/* .hidden {
} */

.star-container,
.rating-container {
  background: #262e38;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}
p {
  margin-bottom: 1.5rem;
  font-size: 15px;
  line-height: 24px;
  color: #969fad;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.rating-container {
  height: 3.125rem;
  width: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c8798;
  cursor: pointer;
}
.hover:hover {
  background: #7c8798;
  color: white;
}

/* .rating-container:active,
.rating-container:focus {
  background: #fc7614;
  color: white;
} */

button {
  width: 100%;
  padding: 0.8rem 0;
  font-weight: 700;
  text-align: center;
  border-radius: 22.5px;
  background-color: #fc7614;
  color: white;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #fc7614;
}

/* toggles when rating is selected */
.rating-selected {
  background-color: #fc7614;
  color: white;
}

/* modal selectors */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.8125rem 1.5625rem;
}
.modal img {
  width: 162px;
  height: 108px;
  margin-bottom: 2rem;
}

.rating-message {
  font-size: 0.9375rem;
  color: white;
  background-color: #262e38;
  color: var(--call-to-action);
  padding: 0.25rem 1.25rem;
  border-radius: 22.5px;
  margin-bottom: 2.25rem;
}
.modal p {
  text-align: center;
  margin-bottom: 0;
}

/* toggle variable - hide and show the relevant card */

.hidden {
  visibility: hidden;
  position: absolute;
}
@media (max-width: 460px) {
  .main,
  .modal {
    max-width: 327px;
    border-radius: 15px;
  }

  .main {
    padding: 1.5rem;
  }
  .star-container {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
  }
  .rating-container {
    height: 42px;
    width: 42px;
    margin-bottom: 1.5rem;
  }
  .modal {
  }
}
